.first{
    display: flex;
}

.input{
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 5px;
    font-size: 16px;
    font-family: 'Snell Roundhand', cursive;
}

.contain{
    margin: 10px;
}

.second{
    display: flex;

}