.collapsed{
    display: none;
}

.task{
    background: #879789;
}


.tr_list{
    height: 28px;

}

.tr_list:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #879789, #879789);
    color: white;
    transition-duration: 0.4s;
}

.tr_list:nth-child(even) {
    background-color: white;
}