.editing{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.input{
    width: 70%;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-family: Snell Roundhand, cursive;
}

.right_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn{
    width: 70px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    font-family: Snell Roundhand, cursive;
    background: #D5CABD;
    border: solid 2px #D5CABD;
    color: #879789;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 5px;
}

.btn:hover{
    /*width: 80px;*/
    /*height: 60px;*/
    border: solid 2px #D5CABD;
    background: #879789;
    color: #D5CABD;
}

.text{
    color: white;
}

.errors{
    color: white;
    font-family: Snell Roundhand, cursive;

}