.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.th_list {
    height: 35px;
    background: #AFB09F;
    color: white;
}



.tr_list:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #8195CF, #8195CF);
    color: white;
    transition-duration: 0.4s;
}

.tr_list:nth-child(even) {
    background-color: white;
}

.pagination_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
