.card {
    border-radius: 20px;
    border: 5px solid #879789;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Snell Roundhand, cursive;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Snell Roundhand, cursive;
    font-size: 17px;


}