.initialState{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    font-family: Snell Roundhand, cursive;

}

.nextState{
    text-align: center;
    font-size: 35px;
    margin: 10px;
    font-family: Snell Roundhand, cursive;
}



.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
}

.btn{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-family: Snell Roundhand, cursive;
    background: #845EC2;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 15px;

}

.btn:hover{
    width: 250px;
    /*height: 60px;*/
    background: white;
    color: #4E8397;
}

.littleBtn{
    width: 80px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-family: Snell Roundhand, cursive;
    background: #845EC2;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 5px;

}

.littleBtn:hover {
    background: white;
    color: #4E8397;
}
